nav ul a,
nav .brand-logo {
  color: rgb(253, 253, 253);
  font-family: 'Rajdhani', sans-serif;
  font-size: 23px;
}

nav {
  background: rgb(47, 68, 83) !important;
}

.dropdownmenu {
  font-family: 'Rajdhani', sans-serif !important;
  color: rgb(58, 58, 61) !important;
  font-size: 120% !important;
  font-weight: bold !important;
}

.logo {
  height: 100%;
  max-height: 65px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: rgb(42, 49, 112) !important;
}

.parallaxImg {
  height: 900px;
  width: 80%
}

.parallax-container {
  min-height: 380px;
  height: 650px !important;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.page-footer {
  background: rgb(47, 68, 83) !important;
}

.social {
  height: 100px;
  width: 100px;
}

#socialLinks li {
  display: inline;
}

.pageText {
  font-family: 'Rajdhani', sans-serif;
}

.footer-copyright {
  background: rgb(23, 61, 84) !important;
  font-weight: bold
}

.header {
  margin-top: 30%;
  text-shadow: 1px 1px 5px rgb(42, 49, 112);
}

body {
  background-image: url(../images/wall.jpg) !important;
  background-size: 100%;
}

.pageContent {
  height: 650px;
  text-align: center;
  color: rgb(253, 253, 253);
}

.homeHead {
  margin-top: 5%;
  margin-bottom: 10%;
}

.homeBody {
  line-height: 140%;
}

.homeImg {
  height: 200px;
}

.parallaxBottomMargin {
  margin-bottom: 30%
}

.footerStuff {
  text-align: center;
}

.index-button {
  background-color: rgb(253, 253, 253) !important;
  color: rgb(23, 61, 84) !important;
}

.index-button:hover {
  background-color: rgb(23, 61, 84) !important;
  color: rgb(253, 253, 253) !important;
}

.parallaxMargin2 {
  margin-top: 5%;
}

.marginHome {
  margin-top: 23%;
}

.wrapperTap {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  padding: 15%;
  color: rgb(253, 253, 253);
  text-shadow: 1px 1px 5px rgb(42, 49, 112);
  background: url('../images/parthenon.jpg') !important;
  background-size: 100% !important
}

.wrapperTap h1 {
  font-size: 100px
}

.wrapperAbout {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  padding: 15%;
  color: rgb(253, 253, 253);
  text-shadow: 1px 1px 5px rgb(42, 49, 112);
  background: url('../images/continentalsplit.jpg') !important;
  background-size: 100% !important
}

.wrapperAbout h1 {
  font-size: 100px
}